mixin button(text, link, dopClass, icon)
	if dopClass
		a(class="button " + dopClass href=link) 
			if icon
				| #{text}
				i(class= icon)
			else
				| #{text}
	else
		a(class="button" href=link)
			if icon
				| #{text}
				i(class= icon)
			else
				| #{text}

mixin button-back(text, link)
	a(class="button " href=link)
		i(class='fas fa-arrow-left icon-style icon-style--back')
		|#{text}